#workarea-content{
    background-color: transparent !important;
	min-height: 700px;
}
.up_sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.up_sections .col-sm-4 {
    -ms-flex: 31%;
    flex: 31%;
    max-width: 31%;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
}

.up_sections a.el-tablo {
    text-decoration: none;
    display: block;
    color: #535c69;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.up_sections a.el-tablo:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
    box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
}
.up_sections .el-tablo .label {
    display: block;
    font-size: .63rem;
    text-transform: uppercase;
    color: #535c69;
    letter-spacing: 1px;
}
.up_sections a.el-tablo:hover .label {
    color: #3395fc;
}
.up_sections .el-tablo .value {
    font-size: 2.43rem;
    font-weight: 500;
    font-family: "OpenSans-Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
}
.up_sections a.el-tablo:hover .value {
    color: #047bf8;
}
.up_sections .el-tablo .trending {
    padding: 3px 10px;
    display: inline-block;
    font-size: .81rem;
    vertical-align: middle;
    margin-left: 10px;
    font-family: "OpenSans-Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #24b314;
}
.up_sections .element-box {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
	border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
