.md_select_element,.md_select_section{
    display: block !important;
}

.pagetitle-edit-button {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 20px;
	height: 32px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M346.697954%2C919%20L348.626577%2C920.928622%20L341.709035%2C927.844782%20L339.780413%2C925.91616%20L346.697954%2C919%20Z%20M338.64341%2C928.723438%20C338.624068%2C928.79666%20338.644791%2C928.874026%20338.69729%2C928.927906%20C338.751169%2C928.981785%20338.828535%2C929.002508%20338.901757%2C928.981785%20L341.188197%2C928.365621%20L339.259574%2C926.436999%20L338.64341%2C928.723438%20Z%22%20transform%3D%22translate%28-338%20-919%29%22/%3E%3C/svg%3E) no-repeat 5px center;
	vertical-align: middle;
	opacity: .6;
	cursor: pointer;
	transition: all 250ms ease;
}
.crm-entity-widget-content-block-click-empty.md_textarea .crm-entity-widget-content-block-inner{
	padding: 8px 20px !important;
    border-radius: 23px !important;
    background-color: rgb(237, 241, 243) !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    min-height: 35px !important;
    border: none !important;
    font-size: 13px !important;
    line-height: 18px !important;
    margin-bottom: 10px !important;
	opacity: 1 !important;
    color: #edf1f3 !important;
}
.md_textarea textarea{
	padding: 8px 20px !important;
    border-radius: 23px !important;
    background-color: rgb(237, 241, 243) !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    min-height: 35px !important;
    border: none !important;
    font-size: 13px !important;
    line-height: 18px !important;
    margin-bottom: 10px !important;
	color: #000;
}
.md_textarea.crm-entity-widget-content-block-click-editable .string.field-item{
	padding: 8px 20px !important;
    border-radius: 23px !important;
    background-color: rgb(237, 241, 243) !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    min-height: 35px !important;
    border: none !important;
    font-size: 13px !important;
    line-height: 18px !important;
    margin-bottom: 10px !important;
	color: #000;
}

.pagetitle-edit-button {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 20px;
	height: 32px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M346.697954%2C919%20L348.626577%2C920.928622%20L341.709035%2C927.844782%20L339.780413%2C925.91616%20L346.697954%2C919%20Z%20M338.64341%2C928.723438%20C338.624068%2C928.79666%20338.644791%2C928.874026%20338.69729%2C928.927906%20C338.751169%2C928.981785%20338.828535%2C929.002508%20338.901757%2C928.981785%20L341.188197%2C928.365621%20L339.259574%2C926.436999%20L338.64341%2C928.723438%20Z%22%20transform%3D%22translate%28-338%20-919%29%22/%3E%3C/svg%3E) no-repeat 5px center;
	vertical-align: middle;
	transition: all 250ms ease;
	opacity: .6;
	cursor: pointer;
}

/*region Card main*/
.crm-entity-card-container,
.crm-entity-card-container-shadow {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.crm-entity-card-container-content { }

.crm-entity-card-widget,
.crm-entity-card-widget-edit {
	position: relative;
	z-index: 140;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 1px;
	background-color: #f9fafb;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	transition: background-color 250ms linear;
}

.crm-entity-card-widget-place {
	position: relative;
	z-index: 800;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0 15px;
	height: 44px;
	border: 2px dashed #d5d8d8;
	border-radius: 1px;
	transition: 220ms linear all;
	-webkit-animation: showWidgetPlace 100ms linear 1;
	animation: showWidgetPlace 100ms linear 1;
}

.crm-entity-card-widget-place:hover { border-color: #abb0b7; }

@-webkit-keyframes showWidgetPlace {
	0% { height: 0; }
	100% { height: 44px; }
}

@keyframes showWidgetPlace {
	0% { height: 0; }
	100% { height: 44px; }
}

.crm-entity-card-widget-edit { background-color: #fff; }

.crm-entity-card-widget-edit.crm-entity-card-widget-edit-shadow { background-color: transparent; }

.crm-entity-widget-hr {
	margin-bottom: 10px;
	height: 1px;
	border: none;
	background: #e4e5e8;
}

/*endregion*/

/*region Draggable*/
.crm-entity-card-widget-draggable-btn-container {
	position: absolute;
	top: 9px;
	left: 0;
	width: 15px;
	height: 28px;
}

.crm-entity-card-widget-draggable-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -5px;
	width: 10px;
	height: 14px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%2214%22%20viewBox%3D%220%200%206%2014%22%3E%0A%20%20%3Cg%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200L2%200%202%202%200%202%200%200zM0%204L2%204%202%206%200%206%200%204zM0%208L2%208%202%2010%200%2010%200%208zM0%2012L2%2012%202%2014%200%2014%200%2012zM4%200L6%200%206%202%204%202%204%200zM4%204L6%204%206%206%204%206%204%204zM4%208L6%208%206%2010%204%2010%204%208zM4%2012L6%2012%206%2014%204%2014%204%2012z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A);
	opacity: 0;
	cursor: grab;
	cursor: -webkit-grab;
	transition: all 300ms ease;
}

.crm-entity-card-widget:hover .crm-entity-card-widget-draggable-btn { opacity: .4; }

.crm-entity-card-widget-draggable-btn:hover { opacity: 1; }

.crm-entity-card-widget-draggable-btn.crm-entity-card-widget-draggable-btn-grabbing,
.crm-entity-card-widget-draggable-btn:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

/*endregion*/

/*region Card wrap*/
.crm-entity-card-widget-title {
	margin: 0 auto;
	padding: 11px 0;
	width: calc(100% - 30px);
	border-bottom: 1px solid #e8ecee;
}

.crm-entity-card-widget-title-text {
	display: inline-block;
	height: 23px;
	color: #525c69;
	vertical-align: middle;
	text-transform: uppercase;
	font: 600 11px/23px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.crm-entity-card-widget-title-text {
	padding: 0;
	width: calc(100% - 100px);
	border: none;
	background-color: transparent;
	color: #000;
}

.crm-entity-widget-actions-block {
	float: right;
	padding: 2px 0;
	transition: 300ms all ease;
}

.crm-entity-widget-clients-actions-block { margin-bottom: 13px; }

.crm-entity-card-widget-edit .crm-entity-widget-actions-block { opacity: 1; }

.crm-entity-card-widget:hover .crm-entity-widget-actions-block,
.crm-entity-card-widget-edit:hover .crm-entity-widget-actions-block { opacity: 1; }

.crm-entity-widget-actions-client-type {
	position: relative;
	display: inline-block;
	margin-right: 4px;
	height: 14px;
	color: #2660c0;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: .2px;
	font-size: 11px;
	line-height: 14px;
	cursor: pointer;
	transition: 300ms all ease;
}

.crm-entity-widget-actions-client-type:before {
	position: absolute;
	top: -2px;
	right: -2px;
	display: block;
	width: 1px;
	height: 19px;
	border-right: 1px solid #e1e3e4;
	content: "";
}

.crm-entity-widget-actions-client-type:after {
	display: inline-block;
	margin-right: 12px;
	margin-left: 6px;
	border: 3px solid transparent;
	border-top-color: #2660c0;
	content: '';
	transition: 300ms all ease;
}

.crm-entity-widget-actions-client-type:hover,
.crm-entity-widget-actions-client-type:hover:after {
	border-top-color: #4293e8;
	color: #4293e8;
}

.crm-entity-widget-edit-btn,
.crm-entity-widget-hide-btn,
.crm-entity-widget-actions-btn-create,
.crm-entity-widget-actions-btn-select,
.crm-entity-widget-client-connect-btn {
	position: relative;
	display: inline-block;
	float: right;
	margin-left: 8px;
	padding-top: 2px;
	border-bottom: 1px dashed transparent;
	color: #333;
	text-transform: lowercase;
	letter-spacing: .2px;
	font-weight: normal;
	font-size: 13px;
	line-height: 14px;
	opacity: .5;
	cursor: pointer;
	transition: 300ms all ease;
}

span.crm-entity-widget-client-connect-btn { margin-left: 25px; }

.crm-entity-widget-client-connect-btn:after {
	position: absolute;
	top: 2px;
	left: -20px;
	width: 15px;
	height: 15px;
	background: url(images/icons-sprite.svg) no-repeat center -103px;
	content: '';
	opacity: .4;
	transition: 220ms all ease;
}

.crm-entity-widget-client-connect-btn:hover:after { opacity: 1; }

.crm-entity-widget-clients-actions-block .crm-entity-widget-actions-btn-create,
.crm-entity-widget-clients-actions-block .crm-entity-widget-actions-btn-select,
.crm-entity-widget-clients-actions-block .crm-entity-widget-client-connect-btn { float: none; }

.crm-entity-widget-edit-btn:hover,
.crm-entity-widget-hide-btn:hover,
.crm-entity-widget-actions-btn-create:hover,
.crm-entity-widget-actions-btn-select:hover,
.crm-entity-widget-client-connect-btn:hover {
	border-bottom-color: #6a6f75;
	color: #6a6f75;
	opacity: 1;
}

/*endregion*/

/*region Widget content*/
.crm-entity-widget-content { padding: 10px 0 15px; }

.crm-entity-card-widget-edit .crm-entity-widget-content-block,
.crm-entity-widget-content-block-edit .crm-entity-widget-content-block-inner,
.crm-entity-widget-content-block[data-animate="show"] .crm-entity-widget-content-block-title {
	max-height: auto;
	-webkit-animation: showEditMode 500ms linear;
	animation: showEditMode 500ms linear;
}

@-webkit-keyframes showEditMode {
	0%, 30% { opacity: 0; }
	0% { max-height: 36px; }
	100% { opacity: 1; }
	30%, 100% { max-height: 200px; }
}

@keyframes showEditMode {
	0%, 30% { opacity: 0; }
	0% { max-height: 36px; }
	100% { opacity: 1; }
	30%, 100% { max-height: 200px; }
}

.crm-entity-card-widget-edit .crm-entity-widget-content-block { opacity: 1; }

.crm-entity-widget-content-block,
.crm-entity-widget-content-block-inner,
.crm-entity-widget-content-block-place,
.crm-entity-widget-content-block-new-fields {
	position: relative;
	margin: 0 0 10px;
	transition: 220ms opacity linear;
}

/*Fixed 0093648*/
.crm-entity-widget-content-block-inner td * { white-space: normal !important; }

.crm-entity-card-widget .crm-entity-widget-content-block {
	box-sizing: border-box;
	margin: 0 0 20px;
	padding: 0 28px 0 15px;
}

.crm-entity-widget-content-block-inner-box .crm-entity-widget-content-block,
.crm-entity-widget-content-block-inner-box .crm-entity-widget-content-block-inner { margin-bottom: 2px; }

.crm-entity-widget-content-block-new-fields {
	position: relative;
	padding: 12px 0;
	background-color: #f6f6f7;
}

.crm-entity-widget-content-block-new-fields .crm-entity-widget-content-block-field-container { margin-bottom: 5px;}

.crm-entity-widget-content-block-new-fields-btn-container { padding: 0 15px; }

.crm-entity-new-field-helper-icon {
	display: inline-block;
	margin-left: 5px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #b1b7c5 no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%225%22%20height%3D%229%22%20viewBox%3D%220%200%205%209%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M3.9824624%2C4.78956902%20C3.9824624%2C4.47209836%204.08437698%2C4.15040692%204.28825178%2C3.82456316%20C4.49205814%2C3.49871939%204.78956568%2C3.22886362%205.18056908%2C3.01495022%20C5.57159528%2C2.80110527%206.02778112%2C2.69412575%206.54912658%2C2.69412575%20C7.03367146%2C2.69412575%207.46149826%2C2.78358335%207.83247009%2C2.96231603%20C8.20344191%2C3.14113996%208.48995263%2C3.38427937%208.69220756%2C3.69171144%20C8.89437124%2C3.99923476%208.9954873%2C4.33338319%208.9954873%2C4.69431642%20C8.9954873%2C4.97840874%208.93783381%2C5.22743442%208.82252682%2C5.44125656%20C8.70721983%2C5.65516996%208.57014734%2C5.83981171%208.41144623%2C5.99518183%20C8.25267667%2C6.15059758%207.96778582%2C6.41212588%207.55672805%2C6.7797439%20C7.44308656%2C6.88336961%207.35196346%2C6.97446989%207.28351848%2C7.05297629%20C7.21498223%2C7.13152832%207.16399072%2C7.20337274%207.13061238%2C7.26850955%20C7.09716559%2C7.33369199%207.07122494%2C7.39885162%207.0529045%2C7.46403406%20C7.0344928%2C7.52917088%207.00693229%2C7.64370215%206.97020014%2C7.80742256%20C6.9066832%2C8.15503184%206.70780488%2C8.32879084%206.37365645%2C8.32879084%20C6.19985182%2C8.32879084%206.0536077%2C8.27200432%205.93501535%2C8.15834001%20C5.81635456%2C8.04474415%205.75705838%2C7.87595881%205.75705838%2C7.65202963%20C5.75705838%2C7.37129111%205.80045251%2C7.1281517%205.88740045%2C6.92263422%20C5.97427996%2C6.71707111%206.08956413%2C6.53660449%206.2332986%2C6.38123437%20C6.37694181%2C6.22581862%206.57082365%2C6.04119968%206.81480721%2C5.82728628%20C7.02865216%2C5.64015769%207.18326939%2C5.49893287%207.27852199%2C5.40368026%20C7.3737746%2C5.30842765%207.45396931%2C5.20238355%207.51915175%2C5.08534263%20C7.58431138%2C4.96839296%207.61691401%2C4.84142751%207.61691401%2C4.70435501%20C7.61691401%2C4.4370089%207.51744063%2C4.21143704%207.31863076%2C4.0275938%20C7.11975244%2C3.84384183%206.86322063%2C3.75187458%206.54912658%2C3.75187458%20C6.18144012%2C3.75187458%205.91074019%2C3.84461754%205.737004%2C4.03010345%20C5.56319937%2C4.21558936%205.41617953%2C4.48879894%205.29585325%2C4.84973217%20C5.18221176%2C5.22743442%204.96663286%2C5.41620569%204.6491622%2C5.41620569%20C4.46194234%2C5.41620569%204.30403976%2C5.35024754%204.17543163%2C5.21819435%20C4.04677787%2C5.08618678%203.9824624%2C4.94331928%203.9824624%2C4.78956902%20Z%20M6.42882311%2C10.2838763%20C6.2249255%2C10.2838763%206.04696853%2C10.2178268%205.8949294%2C10.0858421%20C5.74282183%2C9.95388016%205.66682508%2C9.7692384%205.66682508%2C9.53191682%20C5.66682508%2C9.32135722%205.74028936%2C9.14426723%205.88740045%2C9.00053276%20C6.03442028%2C8.85686673%206.2148869%2C8.78497668%206.4288003%2C8.78497668%20C6.63935989%2C8.78497668%206.81644989%2C8.85686673%206.96018436%2C9.00053276%20C7.10382757%2C9.14426723%207.17574044%2C9.32135722%207.17574044%2C9.53191682%20C7.17574044%2C9.7658846%207.10054221%2C9.94970502%206.95014576%2C10.0833553%20C6.79974931%2C10.2170055%206.62599031%2C10.2838763%206.42882311%2C10.2838763%20Z%22%20transform%3D%22translate%28-4%20-2%29%22/%3E%0A%3C/svg%3E%0A);
	vertical-align: middle;
	line-height: inherit;
	opacity: .7;
	transition: opacity 250ms linear;
}

.crm-entity-new-field-helper-icon:hover {
	opacity: 1;
	cursor: pointer;
}

.crm-entity-widget-content-block-drag,
.crm-entity-card-widget-edit .crm-entity-widget-content-block { padding: 0 28px 0 15px; }

.crm-entity-widget-content-block-edit.crm-entity-widget-content-block { padding-right: 28px; }

.crm-entity-widget-content .crm-entity-widget-content-block:last-child { margin-bottom: 0; }

.crm-entity-widget-card-drag,
.crm-entity-widget-content-block-drag {
	position: absolute;
	z-index: 3500;
	box-sizing: border-box;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .12);
	opacity: 0.9;
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-transform-origin: -100% 50%;
	transform-origin: -100% 50%;
	-webkit-animation: dragRotate 300ms ease 1;
	animation: dragRotate 300ms ease 1;
}

@-webkit-keyframes dragRotate {
	0% { -webkit-transform: rotate(0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12) }
	100% { -webkit-transform: rotate(3deg); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12) }
}

@keyframes dragRotate {
	0% { transform: rotate(0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12) }
	100% { transform: rotate(3deg); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12) }
}

.crm-entity-widgets-drag .crm-entity-card-widget,
.crm-entity-widgets-drag .crm-entity-card-widget-edit { height: 44px; }

.crm-entity-widgets-drag .crm-entity-card-widget .crm-entity-widget-content,
.crm-entity-widgets-drag .crm-entity-card-widget-edit .crm-entity-widget-content { display: none; }

.crm-entity-widget-content-remove-block {
	position: relative;
	margin: 9px;
	max-width: 20px;
	width: 20px;
	height: 20px;
	border: none;
	opacity: .3;
	cursor: pointer;
	transition: opacity 220ms linear;
}

.crm-entity-widget-content-remove-block:hover { opacity: .7 !important; }

.crm-entity-widget-content-remove-block:after,
.crm-entity-widget-content-remove-block:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 2px;
	background: #333;
	content: '';
}

.crm-entity-widget-content-remove-block:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.crm-entity-widget-content-remove-block:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.crm-entity-widget-content-block-place {
	box-sizing: border-box;
	margin-left: 15px;
	padding: 0;
	min-height: 50px;
	width: calc(100% - 42px);
	border: 2px dashed #d5d8d8;
	border-radius: 2px;
	transition: 220ms ease all;
}

.crm-entity-widget-content-block-place:hover { border-color: #abb0b7; }

.crm-entity-widget-content-block-locked-icon {
	position: absolute;
	top: 28px;
	right: 3px;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	outline: none !important;
	border: none;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2210%22%20viewBox%3D%220%200%208%2010%22%3E%0A%20%20%3Cpath%20fill%3D%22%2328B9E9%22%20d%3D%22M601.29424%2C91.02909%20C601.294695%2C89.35856%20599.81644%2C88%20598.001395%2C88%20C596.184966%2C88%20594.707641%2C89.35856%20594.707641%2C91.02909%20L594.707641%2C92.3971%20L594%2C92.3971%20L594%2C98%20L602%2C98%20L602%2C92.39666%20L601.29424%2C92.39666%20L601.29424%2C91.02909%20Z%20M595.947997%2C91.02909%20C595.947997%2C89.9885%20596.868819%2C89.14272%20598.000941%2C89.14272%20C599.131203%2C89.14272%20600.051549%2C89.98894%20600.051549%2C91.02909%20L600.051549%2C92.3971%20L595.947997%2C92.3971%20L595.947997%2C91.02909%20L595.947997%2C91.02909%20L595.947997%2C91.02909%20Z%20M598.566764%2C96.46377%20L597.436502%2C96.46377%20L597.605827%2C94.92798%20C597.396841%2C94.80827%20597.255975%2C94.59457%20597.255975%2C94.34955%20C597.255975%2C93.97236%20597.589046%2C93.66598%20598.001395%2C93.66598%20C598.41143%2C93.66598%20598.74355%2C93.97238%20598.74355%2C94.34955%20C598.74355%2C94.59457%20598.604997%2C94.80785%20598.394151%2C94.92798%20L598.566764%2C96.46377%20L598.566764%2C96.46377%20L598.566764%2C96.46377%20Z%22%20transform%3D%22translate%28-594%20-88%29%22/%3E%0A%3C/svg%3E%0A);
	box-shadow: none;
	cursor: pointer;
	transition: opacity 150ms ease, border-color 150ms ease;
}

.crm-entity-widget-content-block-context-menu {
	position: absolute;
	right: 4px;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23767676%22%20d%3D%22M703.2162%2C375.493606%20C703.03489%2C376.345928%20702.36463%2C377.016206%20701.51234%2C377.197463%20C699.8874%2C377.543055%20698.47582%2C376.131018%20698.82147%2C374.506376%20C698.98493%2C373.738143%20699.75689%2C372.966103%20700.5251%2C372.802606%20C702.14973%2C372.456805%20703.56186%2C373.868528%20703.2162%2C375.493606%20M706.5609%2C374.126224%20L705.37221%2C373.927905%20L705.37221%2C373.927905%20C705.28776%2C373.582645%20705.1655%2C373.252265%20705.00681%2C372.943435%20C705.00014%2C372.930442%20705.00169%2C372.914811%20705.01086%2C372.903443%20L705.75675%2C371.978576%20C705.9186%2C371.779157%20705.91125%2C371.492244%20705.74062%2C371.299793%20L705.26785%2C370.767705%20C705.09648%2C370.575446%20704.8123%2C370.53479%20704.59553%2C370.671741%20L703.57896%2C371.310795%20L703.57896%2C371.310795%20C703.13826%2C371.00289%20702.63989%2C370.774341%20702.10251%2C370.639678%20C702.08826%2C370.636098%20702.07745%2C370.624467%20702.07502%2C370.609954%20L701.88013%2C369.438726%20C701.83839%2C369.185675%20701.61941%2C369%20701.36236%2C369%20L700.64991%2C369%20C700.39338%2C369%20700.17365%2C369.185675%20700.13284%2C369.438726%20L699.93687%2C370.610391%20C699.93444%2C370.624868%20699.92365%2C370.636464%20699.90942%2C370.640027%20C699.47453%2C370.749019%20699.06605%2C370.921037%20698.69186%2C371.145936%20C698.67925%2C371.153516%20698.66341%2C371.152957%20698.65143%2C371.1444%20L697.70436%2C370.468497%20C697.49601%2C370.319636%20697.20982%2C370.342915%20697.02799%2C370.524364%20L696.52467%2C371.028056%20C696.34322%2C371.209889%20696.31994%2C371.496086%20696.4692%2C371.704447%20L697.14669%2C372.653413%20C697.15523%2C372.665376%20697.15582%2C372.681215%20697.14826%2C372.693824%20C696.92555%2C373.065123%20696.75532%2C373.471174%20696.64644%2C373.902111%20C696.64284%2C373.916344%20696.63125%2C373.927102%20696.61679%2C373.929512%20L695.4387%2C374.126242%20C695.18604%2C374.167963%20695%2C374.386976%20695%2C374.644044%20L695%2C375.355956%20C695%2C375.613006%20695.18604%2C375.832037%20695.4387%2C375.873758%20L696.61675%2C376.070471%20C696.63123%2C376.072898%20696.64284%2C376.083674%20696.64642%2C376.097924%20C696.73499%2C376.44975%20696.86115%2C376.786295%20697.027%2C377.099579%20C697.03391%2C377.112642%20697.03245%2C377.128516%20697.02316%2C377.140025%20L696.28095%2C378.059285%20C696.11966%2C378.258513%20696.12643%2C378.545618%20696.29707%2C378.737894%20L696.76947%2C379.269999%20C696.94085%2C379.462608%20697.22519%2C379.50253%20697.44198%2C379.365928%20L698.45281%2C378.730926%20C698.4652%2C378.723137%20698.48099%2C378.723452%20698.49311%2C378.73166%20C698.92454%2C379.023218%20699.41123%2C379.237918%20699.93289%2C379.365928%20L699.93289%2C379.365928%20L700.13286%2C380.561239%20C700.17367%2C380.814307%20700.39338%2C381%20700.64991%2C381%20L701.36236%2C381%20C701.61942%2C381%20701.83839%2C380.814325%20701.88013%2C380.561257%20L702.07535%2C379.389801%20C702.07778%2C379.375306%20702.08859%2C379.363693%20702.10284%2C379.36013%20C702.53211%2C379.25264%20702.93528%2C379.08366%20703.30594%2C378.862726%20C703.31855%2C378.855216%20703.33433%2C378.85581%20703.34626%2C378.864332%20L704.33369%2C379.569574%20C704.54168%2C379.718977%20704.82807%2C379.69554%20705.00971%2C379.513515%20L705.51325%2C379.009981%20C705.69448%2C378.828706%20705.71902%2C378.542666%20705.56852%2C378.333921%20L704.86559%2C377.348351%20C704.85705%2C377.336388%20704.85647%2C377.320566%20704.86403%2C377.307974%20C705.0874%2C376.935419%20705.25854%2C376.528582%20705.36682%2C376.095706%20C705.37038%2C376.081456%20705.38199%2C376.070646%20705.39647%2C376.068218%20L706.5613%2C375.873724%20C706.81471%2C375.831985%20707%2C375.612971%20707%2C375.355921%20L707%2C374.644009%20C706.99962%2C374.386976%20706.81433%2C374.167963%20706.5609%2C374.126224%22%20transform%3D%22translate%28-695%20-369%29%22%20opacity%3D%221%22/%3E%0A%3C/svg%3E%0A);
	opacity: 0;
	cursor: pointer;
	transition: opacity 150ms ease, border-color 150ms ease;
}

.crm-entity-card-widget-edit .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit .crm-entity-widget-content-block-context-menu { top: 28px; }

.crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-field-readonly .crm-entity-widget-content-block-context-menu { top: -4px; }

.crm-entity-card-widget-edit .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block:hover .crm-entity-widget-content-block-context-menu { opacity: .35; }

.crm-entity-widget-content-block:hover .crm-entity-widget-content-block-context-menu:hover { opacity: 1; }

.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-context-menu,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-context-menu,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-checkbox .crm-entity-widget-content-block-context-menu,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-custom-radiobox .crm-entity-widget-content-block-context-menu,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-custom-checkbox .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-checkbox .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-custom-radiobox .crm-entity-widget-content-block-context-menu,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-custom-checkbox .crm-entity-widget-content-block-context-menu { top: 1px; }

.crm-entity-widget-content-block-drag .crm-entity-widget-content-block-context-menu { display: none; }

/*region Widget content - Draggable*/
.crm-entity-widget-content-block-draggable-btn-container {
	position: absolute;
	top: -4px;
	left: -3px;
	width: 21px;
	height: 22px;
}

.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-checkbox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-custom-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-field-custom-checkbox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-checkbox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-custom-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-edit.crm-entity-widget-content-block-field-custom-checkbox .crm-entity-widget-content-block-draggable-btn-container { top: 1px; }

/*.crm-entity-widget-content-block-field-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-field-checkbox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-field-custom-radiobox .crm-entity-widget-content-block-draggable-btn-container,
.crm-entity-widget-content-block-field-custom-checkbox .crm-entity-widget-content-block-draggable-btn-container { top: 1px; }*/

.crm-entity-widget-content-block-drag .crm-entity-widget-content-block-draggable-btn-container { display: none; }

.crm-entity-widget-content-block-draggable-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -5px;
	width: 10px;
	height: 14px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%2214%22%20viewBox%3D%220%200%206%2014%22%3E%0A%20%20%3Cg%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200L2%200%202%202%200%202%200%200zM0%204L2%204%202%206%200%206%200%204zM0%208L2%208%202%2010%200%2010%200%208zM0%2012L2%2012%202%2014%200%2014%200%2012zM4%200L6%200%206%202%204%202%204%200zM4%204L6%204%206%206%204%206%204%204zM4%208L6%208%206%2010%204%2010%204%208zM4%2012L6%2012%206%2014%204%2014%204%2012z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A);
	opacity: 0;
	cursor: grab;
	cursor: -webkit-grab;
	transition: all 300ms ease;
}

.crm-entity-widget-content-block:hover .crm-entity-widget-content-block-draggable-btn { opacity: .4; }

.crm-entity-widget-content-block-draggable-btn:hover { opacity: 1 !important; }

.crm-entity-widget-content-block-draggable-btn.crm-entity-widget-content-block-draggable-btn-grabbing,
.crm-entity-widget-content-block-draggable-btn:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

/*endregion*/

/*region Widget content - Title*/
.crm-entity-widget-content-block-title {
	position: relative;
	margin-bottom: 5px;
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-inner,
.crm-entity-widget-content-block-mutlifield-value,
.crm-entity-widget-content-block-mutlifield-type,
.crm-entity-widget-content-block-position {
	color: #424956;
	word-break: break-all;
	word-break: break-word;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-click-empty .crm-entity-widget-content-block-inner { opacity: .5; }

.crm-entity-widget-content-block-click-editable .crm-entity-widget-content-block-inner { cursor: text; }

.crm-entity-widget-content-block-click-editable .crm-entity-widget-content-block-inner:hover,
.crm-entity-widget-content-block-click-editable .crm-entity-widget-content-block-mutlifield-value:hover,
.crm-entity-widget-content-block-click-editable .crm-entity-widget-content-block-mutlifield-type:hover,
.crm-entity-widget-content-block-click-editable .crm-entity-widget-content-block-position:hover { color: #000; }

.crm-entity-widget-content-block-locked .crm-entity-widget-content-block-inner { opacity: .5; }

.crm-entity-widget-content-block-colums-block {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 29px;
}

.crm-entity-widget-content-block-colums-right {
	margin-right: 5px;
	color: #424956;
	font-size: 36px;
}

.crm-entity-widget-content-block-colums {
	color: #424956;
	font-size: 36px;
}

.crm-entity-widget-content-block-inner-box .crm-entity-widget-content-block-colums-right { font-size: 26px; }

.crm-entity-widget-content-block-wallet {
	color: #80868e;
	font-size: 24px;
	line-height: 30px;
}

.crm-entity-widget-content-block-inner-box .crm-entity-widget-content-block-wallet { font-size: 18px; }

/*endregion*/

/*region Widget content - Client wrap*/
.crm-entity-widget-clients-container { margin-bottom: 14px; }

.crm-entity-widget-client-block { margin-bottom: 4px; }

.crm-entity-widget-client-block.crm-entity-widget-client-block-child {
	position: relative;
	margin-bottom: 2px;
	margin-left: 30px;
}

.crm-entity-widget-client-block.crm-entity-widget-client-block-child:before {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: -18px;
	z-index: 90;
	width: 0;
	border-right: 1px dashed #d5d8d8;
	content: '';
}

.crm-entity-widget-client-block.crm-entity-widget-client-block-child:last-child:before { bottom: 50%; }

.crm-entity-widget-client-block.crm-entity-widget-client-block-casper,
.crm-entity-widget-client-block.crm-entity-widget-client-block-child.crm-entity-widget-client-block-casper { z-index: 1000; }

.crm-entity-widget-client-block.crm-entity-widget-client-block-shadow,
.crm-entity-widget-client-block.crm-entity-widget-client-block-child.crm-entity-widget-client-block-child-shadow { overflow: hidden; }

.crm-entity-widget-client-block.crm-entity-widget-client-block-skeleton { }

.crm-entity-widget-client-block-skeleton .crm-entity-widget-client-box {
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 62px;
}

.crm-entity-widget-client-block-skeleton .crm-entity-widget-client-box:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 62px;
	border-width: 0;
	border-style: solid;
	border-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22360%22%20height%3D%2259%22%20viewBox%3D%220%200%20360%2059%22%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M122%2C130.9993%20C122%2C130.447402%20122.448006%2C130%20123.001027%2C130%20L480.998973%2C130%20C481.551825%2C130%20482%2C130.440984%20482%2C130.9993%20L482%2C188.0007%20C482%2C188.552598%20481.551994%2C189%20480.998973%2C189%20L123.001027%2C189%20C122.448175%2C189%20122%2C188.559016%20122%2C188.0007%20L122%2C130.9993%20Z%20M137%2C147.005798%20L137%2C151.994202%20C137%2C153.651184%20138.342821%2C155%20139.999275%2C155%20L293.000725%2C155%20C294.649416%2C155%20296%2C153.654258%20296%2C151.994202%20L296%2C147.005798%20C296%2C145.348816%20294.657179%2C144%20293.000725%2C144%20L139.999275%2C144%20C138.350584%2C144%20137%2C145.345742%20137%2C147.005798%20Z%20M444%2C155.997152%20L444%2C162.002848%20C444%2C163.658377%20445.34708%2C165%20447.008788%2C165%20L461.991212%2C165%20C463.65441%2C165%20465%2C163.658129%20465%2C162.002848%20L465%2C155.997152%20C465%2C154.341623%20463.65292%2C153%20461.991212%2C153%20L447.008788%2C153%20C445.34559%2C153%20444%2C154.341871%20444%2C155.997152%20Z%20M409%2C155.997152%20L409%2C162.002848%20C409%2C163.658377%20410.34708%2C165%20412.008788%2C165%20L426.991212%2C165%20C428.65441%2C165%20430%2C163.658129%20430%2C162.002848%20L430%2C155.997152%20C430%2C154.341623%20428.65292%2C153%20426.991212%2C153%20L412.008788%2C153%20C410.34559%2C153%20409%2C154.341871%20409%2C155.997152%20Z%20M374%2C155.997152%20L374%2C162.002848%20C374%2C163.658377%20375.34708%2C165%20377.008788%2C165%20L391.991212%2C165%20C393.65441%2C165%20395%2C163.658129%20395%2C162.002848%20L395%2C155.997152%20C395%2C154.341623%20393.65292%2C153%20391.991212%2C153%20L377.008788%2C153%20C375.34559%2C153%20374%2C154.341871%20374%2C155.997152%20Z%20M137%2C169.001665%20L137%2C170.998335%20C137%2C172.66098%20138.340666%2C174%20139.994461%2C174%20L224.005539%2C174%20C225.657904%2C174%20227%2C172.656109%20227%2C170.998335%20L227%2C169.001665%20C227%2C167.33902%20225.659334%2C166%20224.005539%2C166%20L139.994461%2C166%20C138.342096%2C166%20137%2C167.343891%20137%2C169.001665%20Z%22%20transform%3D%22translate%28-122%20-130%29%22%20opacity%3D%221%22/%3E%3C/svg%3E) 0 fill stretch;
	content: '';
}

.crm-entity-widget-client-block-skeleton .crm-entity-widget-client-box:after {
	position: absolute;
	left: -100%;
	z-index: 10;
	width: 200%;
	height: 62px;
	outline: 1px solid #000;
	background: #f8f8f8;
	background: linear-gradient(top, rgba(233, 233, 233, 1) 0%, rgba(245, 245, 245, 1) 25%, rgba(233, 233, 233, 1) 50%, rgba(245, 245, 245, 1) 75%, rgba(233, 233, 233, 1) 100%);
	content: '';
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#e9e9e9', GradientType=0);
	-webkit-animation: client-skeleton 2s infinite linear;
	animation: client-skeleton 2s infinite linear;
}

@-webkit-keyframes client-skeleton {
	from { left: -100%; }
	to { left: 0; }
}

@keyframes client-skeleton {
	from { left: -100%; }
	to { left: 0; }
}

.crm-entity-widget-client-child-link {
	position: absolute;
	top: 50%;
	left: -25.5px;
	z-index: 100;
	margin-top: -6.5px;
	width: 15px;
	height: 15px;
	background: #f5f8f9;
	cursor: pointer;
	transition: opacity 220ms ease;
}

.crm-entity-card-widget-edit .crm-entity-widget-client-child-link { background-color: #fff; }

.crm-entity-widget-client-child-link:after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7.5px;
	margin-left: -7.5px;
	width: 15px;
	height: 15px;
	background: url(images/icons-sprite.svg) no-repeat center -102px;
	content: '';
	opacity: .4;
}

.crm-entity-card-widget-edit .crm-entity-widget-client-block.crm-entity-widget-client-block-child:hover .crm-entity-widget-client-child-link:after {
	background-position: center -132px;
	opacity: 1;
}

.crm-entity-widget-client-block.crm-entity-widget-client-block-shadow .crm-entity-widget-client-child-link { opacity: 0 !important; }

.crm-entity-widget-client-child-link:before {
	position: relative;
	top: 50%;
	left: 100%;
	z-index: 90;
	display: block;
	width: 7px;
	height: 0;
	border-top: 1px dashed #d5d8d8;
	content: '';
}

.crm-entity-widget-client-box {
	position: relative;
	box-sizing: border-box;
	padding: 10px 14px;
	border: 1px solid #f1f1f1;
	border-radius: 1px;
	background-color: #fff;
	transition: 220ms all ease;
}

.crm-entity-widget-client-block.crm-entity-widget-client-block-shadow .crm-entity-widget-client-box {
	border-color: transparent;
	background-color: transparent;
}

.crm-entity-widget-client-block.crm-entity-widget-client-block-child .crm-entity-widget-client-box { padding: 9px 14px 10px; }

.crm-entity-card-widget-edit .crm-entity-widget-client-box:hover,
.crm-entity-card-widget-edit .crm-entity-widget-client-block.crm-entity-widget-client-block-child:hover .crm-entity-widget-client-box { border-color: #468ee5; }

.crm-entity-widget-client-block.crm-entity-widget-client-block-child-place .crm-entity-widget-client-box {
	position: relative;
	margin-bottom: 2px;
	min-height: 35px;
	border: 2px dashed #d5d8d8;
	border-radius: 1px;
	background-color: transparent;
}

.crm-entity-widget-client-block-remove {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	opacity: 0;
	cursor: pointer;
	transition: opacity 220ms ease;
}

.crm-entity-widget-client-box:hover .crm-entity-widget-client-block-remove { opacity: .2; }

.crm-entity-widget-client-box .crm-entity-widget-client-block-remove:hover { opacity: .4; }

.crm-entity-widget-client-block-remove:after,
.crm-entity-widget-client-block-remove:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 2px;
	background: #333;
	content: '';
}

.crm-entity-widget-client-block-remove:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.crm-entity-widget-client-block-remove:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.crm-entity-widget-client-box-type {
	overflow: hidden;
	margin-bottom: 2px;
	max-width: 100%;
	color: #a8acb3;
	text-transform: uppercase;
	text-overflow: ellipsis;
	font: 7px/10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-client-box-name-container {
	position: relative;
	padding-right: 130px;
}

.crm-entity-widget-client-box-name {
	display: block;
	overflow: hidden;
	padding-bottom: 8px;
	color: #333;
	text-overflow: ellipsis;
	font: 18px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.crm-entity-widget-client-box-name {
	color: #333;
	cursor: pointer;
}

a.crm-entity-widget-client-box-name:hover { color: #3f51b5; }

.crm-entity-widget-client-box-position {
	overflow: hidden;
	color: #a8acb3;
	text-transform: lowercase;
	text-overflow: ellipsis;
	font: 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-phone-number {
	position: relative;
	display: inline-block;
	margin-right: 35px;
	border-bottom: 1px dashed;
}

.crm-entity-phone-number i {
	position: absolute;
	top: 50%;
	right: -25px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: transparent url(images/icons-sprite.svg) no-repeat center -285px;
	transition: 220ms all ease;
}

.crm-entity-phone-number:hover { border-bottom-style: solid; }

.crm-entity-phone-number:hover i { background-color: #ededed; }

.crm-entity-widget-client-actions-container {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.crm-entity-widget-client-action-call,
.crm-entity-widget-client-action-mail,
.crm-entity-widget-client-action-im {
	display: inline-block;
	margin-left: 8px;
	width: 25px;
	height: 19px;
	background: url(images/icons-sprite.svg) no-repeat;
	opacity: .45;
	-webkit-filter: grayscale(86%);
	-ms-filter: grayscale(86%);
	filter: grayscale(86%);
	transition: 300ms all ease;
	-moz-filter: grayscale(86%);
	-o-filter: grayscale(86%);
}

.crm-entity-widget-client-action-call { background-position: center -0px; }

.crm-entity-widget-client-action-mail { background-position: center -31px; }

.crm-entity-widget-client-action-im { background-position: center -62px; }

.crm-entity-widget-client-action-available.crm-entity-widget-client-action-call,
.crm-entity-widget-client-action-available.crm-entity-widget-client-action-mail,
.crm-entity-widget-client-action-available.crm-entity-widget-client-action-im {
	opacity: .85;
	-webkit-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
	cursor: pointer;
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.crm-entity-widget-client-action-available.crm-entity-widget-client-action-call:hover,
.crm-entity-widget-client-action-available.crm-entity-widget-client-action-mail:hover,
.crm-entity-widget-client-action-available.crm-entity-widget-client-action-im:hover { opacity: 1; }

/*endregion*/

/*region Widget content - Inner Box*/
.crm-entity-widget-content-block-inner-box {
	position: relative;
	box-sizing: border-box;
	padding: 10px 14px;
	border: 1px solid #f1f1f1;
	border-radius: 1px;
	background-color: #fff;
	transition: 220ms all ease;
}

.crm-entity-card-widget-edit .crm-entity-widget-content-block-inner-box:hover { border-color: #468ee5; }

.crm-entity-widget-content-block-inner-box-title {
	display: flex;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e7ea;
	align-items: center;
	justify-content: space-between;
}

.crm-entity-widget-content-block-inner-box-title-text {
	color: #333;
	vertical-align: middle;
	font: bold 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-inner-box-title-desc {
	color: #a7acb3;
	vertical-align: middle;
	font: 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-inner-box-content-container { display: flex; }

.crm-entity-widget-content-block-inner-box-content-left {
	position: relative;
	width: 80px;
	border-right: 1px solid #e4e7ea;
}

.crm-entity-widget-content-block-inner-box-content-right {
	position: relative;
	left: -1px;
	border-left: 1px solid #e4e7ea;
}

.crm-entity-widget-content-block-inner-box-content-full {
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
}

/*endregion*/

/*region Widget content - Requisites*/
.crm-entity-widget-client-requisites-container { margin-bottom: 10px; }

.crm-entity-widget-client-box .crm-entity-widget-client-requisites-container:last-child,
.crm-entity-widget-content-block-requisites .crm-entity-widget-client-requisites-container:last-child { margin-bottom: 0; }

.crm-entity-widget-client-requisites-show-btn {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-bottom: 1px;
	border-bottom: 1px dashed;
	color: #0063c6;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.crm-entity-widget-client-requisites-show-btn:after {
	position: absolute;
	top: 50%;
	right: -15px;
	margin-top: -2px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top: 4px solid #000;
	content: '';
}

.crm-entity-widget-client-requisites-container-opened .crm-entity-widget-client-requisites-show-btn:after {
	margin-top: -6px;
	border: 4px solid transparent;
	border-bottom: 4px solid #000;
}

.crm-entity-widget-client-requisites-inner-container {
	position: relative;
	overflow: hidden;
	margin: 0;
	max-height: 0;
	background-color: #f9fafb;
	opacity: 0;
	transition: 300ms max-height ease, 300ms padding-top ease, 300ms padding-bottom ease, 300ms opacity ease;
}

.crm-entity-card-widget-edit .crm-entity-widget-client-requisites-inner-container {
	padding: 6px 13px;
	border: 1px solid #f1f1f1;
	background-color: #fff;
	transition: 300ms all ease;
}

.crm-entity-widget-client-box .crm-entity-widget-client-requisites-inner-container { padding: 0 12px; }

.crm-entity-widget-client-requisites-container-opened .crm-entity-widget-client-requisites-inner-container {
	max-height: 400px;
	opacity: 1;
}

.crm-entity-widget-client-box .crm-entity-widget-client-requisites-container-opened .crm-entity-widget-client-requisites-inner-container { padding: 11px 12px; }

.crm-entity-requisites-slider-remove,
.crm-entity-widget-client-requisites-remove-icon {
	position: absolute;
	top: 7px;
	right: 9px;
	width: 20px;
	height: 20px;
	opacity: .3;
	cursor: pointer;
	transition: opacity 220ms ease;
}

.crm-entity-requisites-slider-remove:hover,
.crm-entity-widget-client-requisites-remove-icon:hover { opacity: 1; }

.crm-entity-widget-client-requisites-edit-icon {
	position: absolute;
	top: 8px;
	right: 9px;
	display: block;
	width: 15px;
	height: 20px;
	background: url(images/icons-sprite.svg) no-repeat center -255px;
	vertical-align: middle;
	opacity: .3;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-widget-client-requisites-remove-icon + .crm-entity-widget-client-requisites-edit-icon { right: 34px; }

.crm-entity-widget-client-requisites-edit-icon:hover { opacity: 1; }

.crm-entity-widget-client-requisites-list {
	margin: 0;
	padding: 0;
}

.crm-entity-requisites-slider-remove:after,
.crm-entity-requisites-slider-remove:before,
.crm-entity-widget-client-requisites-remove-icon:after,
.crm-entity-widget-client-requisites-remove-icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 2px;
	background: #333;
	content: '';
}

.crm-entity-requisites-slider-remove:after,
.crm-entity-widget-client-requisites-remove-icon:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.crm-entity-requisites-slider-remove:before,
.crm-entity-widget-client-requisites-remove-icon:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.crm-entity-widget-client-requisites-name {
	margin: 0 0 3px;
	padding: 0;
	color: #a5aab1;
	text-transform: uppercase;
	font: 500 9px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-client-requisites-value {
	margin: 0 0 15px;
	padding: 0;
	color: #535c69;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-client-requisites-list .crm-entity-widget-client-requisites-value:last-child { margin-bottom: 0; }

.crm-entity-widget-client-requisites-add-btn {
	border-bottom: 1px dashed;
	color: #0063c6;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-client-requisites-add-btn:hover {
	border-bottom-style: solid;
	cursor: pointer;
}

/*endregion*/

/*region Widget content - Requisites slider*/
.crm-entity-requisites-slider-wrapper { }

.crm-entity-requisites-slider-title { margin-bottom: 23px; }

.crm-entity-requisites-slider-title-text {
	margin-bottom: 3px;
	color: #000;
	font: 300 24px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-requisites-slider-title-description {
	color: #525c69;
	font: 300 13px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-requisites-slider-content { }

.crm-entity-requisites-slider-widget {
	padding: 16px 28px;
	background-color: #fff;
}

.crm-entity-requisites-slider-widget-title {
	display: flex;
	padding-bottom: 16px;
	border-bottom: 1px solid #edeef0;
	align-items: center;
	justify-content: space-between;
}

.crm-entity-requisites-slider-widget-title-text {
	color: #525c69;
	vertical-align: middle;
	font: bold 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-requisites-slider-remove {
	position: relative;
	top: auto;
	right: auto;
	display: inline-block;
	width: 10px;
	height: 10px;
}

.crm-entity-requisites-slider-widget-content {
	margin-bottom: 20px;
	padding-top: 12px;
}

.crm-entity-requisites-slider-widget .crm-entity-widget-content-block { padding: 0 28px 0 0; }

/*endregion*/

/*region Widget content - Requisites selector*/

.crm-entity-requisites-select-item {
	position: relative;
	display: block;
	margin-bottom: 18px;
	padding: 14px 14px 14px 43px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	color: #000;
	text-transform: uppercase;
	font: 400 14px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 300ms all ease;
}

.crm-entity-requisites-select-item-selected {
	border-color: #3fcbf7;
	background-color: #f3fcfe;
}

.crm-entity-requisites-select-item strong { font-weight: 600; }

.crm-entity-requisites-select-item-field {
	position: absolute;
	top: 16px;
	left: 16px;
}

.crm-entity-requisites-select-item-bank-requisites-container {
	display: block;
	line-height: 15px;
}

.crm-entity-requisites-select-item-bank-requisites-title {
	display: block;
	margin: 10px 0;
	color: #525c69;
	text-transform: none;
	font: 400 12px/15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-requisites-select-item-bank-requisites-field-container { }

.crm-entity-requisites-select-item-bank-requisites-field-item {
	display: block;
	margin-bottom: 5px;
	font: 400 14px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-requisites-select-item-bank-requisites-field { }

/*endregion*/

/*region Widget content - Participants*/
.crm-entity-widget-participants { }

.crm-entity-widget-participants-title {
	position: relative;
	margin-bottom: 4px;
}

.crm-entity-widget-actions-btn-participants {
	position: relative;
	display: inline-block;
	padding-top: 2px;
	max-width: calc(100% - 125px);
	vertical-align: middle;
}

.crm-entity-widget-participants-title-text {
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 10px 0 0;
	max-width: 100%;
	color: #a8adb4;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-actions-btn-participants:before {
	position: absolute;
	top: -2px;
	right: 0;
	display: block;
	width: 1px;
	height: 19px;
	border-right: 1px solid #e1e3e4;
	content: "";
}

/*endregion*/

/*region Products*/
.crm-entity-widget-content-block-products-list {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.crm-entity-widget-content-block-products-item { }

.crm-entity-widget-content-block-products-item td {
	box-sizing: border-box;
	padding: 10px 2px;
	border-bottom: 1px solid #e4e7ea;
}

.crm-entity-widget-content-block-products-item:first-child td { padding-top: 0; }

.crm-entity-widget-content-block-products-item:last-child td { border-bottom: none; }

td.crm-entity-widget-content-block-products-item-name { }

td.crm-entity-widget-content-block-products-price {
	padding-left: 20px;
	vertical-align: top;
	text-align: right;
	white-space: nowrap;
}

.crm-entity-widget-content-block-products-price-currency {
	color: #a8adb4;
	font: 400 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-products-show-more {
	border-bottom: 1px dotted;
	color: #80868e;
	text-decoration: none;
	font: 400 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-widget-content-block-products-show-more:hover { color: #333; }

/*endregion*/

/*region Checkbox for menu*/
.crm-context-menu-item-hide-empty-wrap {
	display: flex;
	align-items: center;
}

.crm-context-menu-item-hide-empty-input { margin: 0 5px 0 0; }

/*endregion*/

/*region Nothing selected*/
.crm-entity-widget-content-nothing-selected {
	position: relative;
	cursor: pointer;
}

.crm-entity-widget-content-nothing-selected-text {
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*endregion*/

/*region Editor*/
/*region Editor - common*/

.crm-entity-card-widget-title-edit-icon {
	position: relative;
	bottom: -1px;
	display: none;
	padding-right: 5px;
	padding-left: 5px;
	width: 15px;
	height: 20px;
	background: url(images/icons-sprite.svg) no-repeat center -255px;
	vertical-align: middle;
	opacity: .4;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-widget-content-block:hover .crm-entity-card-widget-title-edit-icon {
	position: absolute;
	display: inline-block;
	margin-bottom: -3px;
	line-height: inherit;
}

.crm-entity-card-widget-title-edit-icon:hover { opacity: 1; }

.crm-entity-card-widget-edit .crm-entity-card-widget-title-edit-icon,
.crm-entity-card-widget:hover .crm-entity-card-widget-title-edit-icon { display: inline-block; }

.crm-entity-widget-content-block-field-custom-select .field-item > span {
	position: relative;
	display: block;
	min-height: 39px;
}

.field-wrap,
.crm-entity-card-widget-edit .crm-entity-widget-clients-block,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-inner,
.crm-entity-card-widget-edit .crm-entity-widget-content-block-date-input {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.field-wrap .field-item:last-child { margin-bottom: 0 !important; }

/*endregion*/

/*region Editor - Main form*/
.fields .separator { display: none !important; }

.field-item,
.crm-entity-widget-content-block-field-container {
	position: relative;
	display: flex;
	margin-bottom: 10px;
}

.money-editor > input[type="text"],
.field-item.money > input[type="text"],
.crm-entity-widget-content-block-field-container-double .crm-entity-widget-content-input,
.crm-entity-widget-content-block-field-container-double .crm-entity-widget-content-input-phone-wrapper { margin-right: 10px; }

.crm-entity-widget-content-input,
.money-editor > input[type="text"],
.field-item.money > input[type="text"],
.crm-entity-widget-content-input-phone-wrapper { flex: 1.8; }

.crm-entity-widget-content-block-form {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}

.crm-entity-widget-content-block-form-radio {
	position: relative;
	float: left;
	min-height: 39px;
	width: 25px;
}

.crm-entity-widget-content-block-form-radio input {
	position: absolute;
	top: 50%;
	left: 1px;
	margin: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.field-item.date,
.field-item.datetime {
	position: relative;
	width: 50%;
}

.fields.crm_status select,
.field-item input,
.field-item select,
.field-item textarea,
.field-item .main-ui-control.main-ui-select,
.field-item .main-ui-control.main-ui-multi-select,
.uf-address-search-input,
.crm-entity-widget-content-input,
.crm-entity-widget-content-select,
.crm-entity-widget-content-textarea,
.crm-entity-widget-content-date-input,
.crm-entity-widget-content-block-clients,
.crm-entity-widget-content-block-requisites,
.crm-entity-widget-content-block-recurring,
.crm-entity-widget-resourcebook-container,
.crm-entity-widget-content-block-multiselect select,
.crm-entity-widget-content-block-field-textarea textarea {
	display: block;
	box-sizing: border-box;
	padding: 10px 9px;
	min-height: 39px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	background-color: #fff;
	color: #424956;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 220ms all ease;
}

.field-item textarea { min-width: 100%; }

.crm-entity-widget-content-input.crm-entity-widget-content-input-phone {
	padding-left: 36px;
	width: 100%;
}

.crm-entity-widget-content-country-flag {
	position: absolute;
	margin: 7px;
}

.field-item.money select,
.fields.crm_status select,
.field-item.enumeration select {
	height: 39px;
	border-radius: 1px;
	background-color: #fff;
}

.field-item.enumeration-multiselect select[multiple="multiple"],
.field-item.enumeration-multiselect select[multiple="multiple"]:focus {
	padding: 0 10px;
	height: auto;
	background-image: none !important;
}

.field-item.double input,
.field-item.integer input { width: auto; }

.crm-entity-widget-content-select-form {
	float: left;
	width: calc(100% - 25px);
}

.crm-entity-widget-content-block-field-half-width { width: 50%; }

.crm-entity-widget-content-block-field-textarea .bx-html-editor { box-sizing: border-box; }

/**/
.crm-entity-widget-content-input[type='number'] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	-ms-appearance: textfield;
	-o-appearance: textfield;
	appearance: textfield;
}

.crm-entity-widget-content-input::-webkit-outer-spin-button,
.crm-entity-widget-content-input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

/*endregion*/

/*region Editor - Comment*/
.crm-entity-widget-content-block-inner-comment {
	overflow: hidden;
	word-break: break-all;
	word-break: break-word;
	transition: 200ms max-height linear;
}

.crm-entity-widget-content-block-field-comment .crm-entity-widget-content-block-field-container > div{ width: 100%;}

.crm-entity-widget-content-block-field-comment-collapsed .crm-entity-widget-content-block-inner-comment { max-height: 130px; }

.crm-entity-widget-content-block-field-comment-expand .crm-entity-widget-content-block-inner,
.crm-entity-widget-content-block-field-comment-collapsed .crm-entity-widget-content-block-inner { padding-bottom: 25px; }

.crm-entity-widget-content-block-field-comment-expand-btn-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 48px 0 3px;
	border-bottom: 1px solid #e9eaec;
	background: -webkit-linear-gradient(top, rgba(249,250,251,0) 0%, rgba(249,250,251,0.7) 24px, rgba(249,250,251,1) 36px, rgba(249,250,251,1) 100%);
	background:    -moz-linear-gradient(top, rgba(249,250,251,0) 0%, rgba(249,250,251,0.7) 24px, rgba(249,250,251,1) 36px, rgba(249,250,251,1) 100%);
	background: 		linear-gradient(top, rgba(249,250,251,0) 0%, rgba(249,250,251,0.7) 24px, rgba(249,250,251,1) 36px, rgba(249,250,251,1) 100%);
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fafbb3', endColorstr='#f9fafb', GradientType=0);
	transition: 200ms padding-top linear;
}

.crm-entity-widget-content-block-field-comment-collapsed .crm-entity-widget-content-block-field-comment-expand-btn-container { height: 20px; }

.crm-entity-widget-content-block-field-comment-expand .crm-entity-widget-content-block-field-comment-expand-btn-container { padding-top: 0; }

.crm-entity-widget-content-block-field-comment-expand-btn {
	display: inline-block;
	padding: 0 10px;
	height: 20px;
	border-radius: 10px;
	color: #858c95;
	vertical-align: middle;
	text-decoration: none;
	font: 400 13px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 250ms all ease;
}

/*endregion*/

/*region Editor - Checkbox*/
.fields.enumeration.enumeration-checkbox.field-item br { display: none; }

.crm-entity-widget-content-block .fields.enumeration { display: block; }

.fields.boolean.field-item label,
.crm-entity-widget-content-block-checkbox-label,
.fields.enumeration.enumeration-checkbox.field-item label,
.crm-entity-widget-content-block-field-custom-checkbox .boolean label {
	position: relative;
	display: block;
	padding-left: 20px;
	color: #424956;
	vertical-align: middle;
	font: 14px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.crm-entity-widget-content-block-checkbox-label {
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 0;
}

.crm-entity-widget-content-block-text .crm-entity-widget-content-block-checkbox-label:last-child { padding-bottom: 0; }

.field-item input[type=checkbox],
.field-item input[type=radio],
.crm-entity-widget-content-checkbox,
.crm-entity-widget-content-block-field-checkbox label input[type=checkbox],
.crm-entity-widget-content-block-field-custom-checkbox .boolean input[type=checkbox],
.crm-entity-widget-content-block-field-checkbox label input[type=radio],
.crm-entity-widget-content-block-field-custom-checkbox .boolean input[type=radio] {
	position: absolute;
	top: 6px;
	left: 0;
	margin: 0;
	min-width: 0 !important;
	min-height: 0 !important;
	width: auto !important;
	height: auto !important;
}

.crm-entity-widget-content-block-checkbox-flag {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 7px;
	border-radius: 1px;
	background: #e0e5e9;
	color: #525c69;
	text-align: center;
	font: bold 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**/
.crm-entity-widget-content-block-new-fields .crm-entity-widget-content-block-checkbox-label {
	padding-left: 0;
	line-height:15px;
}

/*endregion*/

/*region Editor - Location */

.fields.address { font: 400 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fields.address a {
	display: inline;
	border-bottom: 1px dashed;
}

.fields.address a:hover { border-bottom-style: solid; }

.crm-entity-widget-content-block-position-btn-hide:hover { border-bottom: 1px solid; }

/*endregion*/

/*region Editor - Radio*/
.crm-entity-widget-content-block-radio-label {
	position: relative;
	display: block;
	padding-left: 20px;
	color: #424956;
	vertical-align: middle;
	font: 14px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.crm-entity-widget-content-block-radio-label {
	padding-right: 50px;
	padding-bottom: 5px;
	padding-left: 0;
}

.crm-entity-widget-content-block-inner .crm-entity-widget-content-block-radio-label:last-child { padding-bottom: 0; }

.crm-entity-widget-content-radio {
	position: absolute;
	top: 6px;
	left: 0;
	margin: 0;
}

.crm-entity-widget-content-block-radio-flag {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 7px;
	border-radius: 1px;
	background: #e0e5e9;
	color: #525c69;
	text-align: center;
	font: bold 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-radio-description {
	color: #424956;
	vertical-align: middle;
	font: 14px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Editor - Select */

.field-item.money > select,
.money-editor-currency-selector-wrap,
.crm-entity-widget-content-block-select { flex: 1 }

.main-ui-control.main-ui-select,
.crm-entity-widget-content-select,
.main-ui-control.main-ui-multi-select {
	position: relative;
	padding: 10px 26px 10px 9px;
	background-image: none !important;
	cursor: pointer;
}

.main-ui-control.main-ui-select:after,
.main-ui-control.main-ui-select:before,
.crm-entity-widget-content-select:after,
.crm-entity-widget-content-select:before,
.main-ui-control.main-ui-multi-select:after,
.main-ui-control.main-ui-multi-select:before {
	position: absolute;
	top: 50%;
	left: calc(100% - 3px);
	width: 8px;
	height: 2px;
	background-color: #979797;
	content: "";
	transition: all 250ms ease;;
	-webkit-transform-origin: center;;
	transform-origin: center;
}

.main-ui-control.main-ui-select:before,
.crm-entity-widget-content-select:before,
.main-ui-control.main-ui-multi-select:before { margin-left: -15px; }

.main-ui-control.main-ui-select:before,
.main-ui-control.main-ui-select.main-ui-focus:after,
.crm-entity-widget-content-select:before,
.crm-entity-widget-content-select.active:after,
.main-ui-control.main-ui-multi-select:before,
.main-ui-control.main-ui-multi-select.main-ui-focus:after {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.main-ui-control.main-ui-select:after,
.crm-entity-widget-content-select:after,
.main-ui-control.main-ui-multi-select:after { margin-left: -10px; }

.main-ui-control.main-ui-select:after,
.main-ui-control.main-ui-select.main-ui-focus:before,
.crm-entity-widget-content-select:after,
.crm-entity-widget-content-select.active:before,
.main-ui-control.main-ui-multi-select:after,
.main-ui-control.main-ui-multi-select.main-ui-focus:before {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.main-ui-control.main-ui-select:hover:after,
.main-ui-control.main-ui-select:hover:before,
.crm-entity-widget-content-select:hover:after,
.crm-entity-widget-content-select:hover:before,
.main-ui-control.main-ui-multi-select:hover:after,
.main-ui-control.main-ui-multi-select:hover:before { background-color: #767676; }

s.field-item.money select ,
.crm-entity-widget-content-block-colums-input .crm-entity-widget-content-block-select*/ { width: 150px; }

.field-item.money select,
.fields.crm_status select,
.field-item.enumeration select {
	padding: 10px 26px 10px 9px;
	border-radius: 1px;
	background: #fff no-repeat calc(100% - 6px) center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%3E%20%20%3Cpath%20fill%3D%22%23979797%22%20fill-rule%3D%22evenodd%22%20d%3D%22M349.545942%2C95.4246212%20L349.545942%2C89.6066017%20L347.606602%2C89.6066017%20L347.606602%2C96.3942911%20L347.606602%2C97.363961%20L355.363961%2C97.363961%20L355.363961%2C95.4246212%20L349.545942%2C95.4246212%20Z%22%20transform%3D%22rotate%28-45%2067.431%20465.144%29%22/%3E%3C/svg%3E);
	vertical-align: bottom;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.field-item.enumeration select[size],
.field-item.enumeration select[size]:focus {
	padding: 0 10px;
	height: auto;
	background-image: none !important;
}

.field-item.money select:focus,
.field-item.enumeration select:focus { background: #fff no-repeat calc(100% - 6px) center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%3E%20%20%3Cpath%20fill%3D%22%23979797%22%20fill-rule%3D%22evenodd%22%20d%3D%22M606%2C611%20L606%2C605%20L604%2C605%20L604%2C612%20L604%2C613%20L612%2C613%20L612%2C611%20L606%2C611%20Z%22%20transform%3D%22rotate%28135%20431.885%20182.822%29%22/%3E%3C/svg%3E); }

/*endregion*/

/*region Editor - Main form */
.crm-entity-widget-content-textarea { max-width: 100%; }

.main-ui-control.main-ui-select.main-ui-focus,
.main-ui-control.main-ui-select:hover,
.main-ui-control.main-ui-multi-select.main-ui-focus,
.main-ui-control.main-ui-multi-select:hover,
.field-item textarea:focus,
.field-item textarea:hover,
.field-item.url input:focus,
.field-item.url input:hover,
.field-item.date input:hover,
.field-item.date input:focus,
.field-item.money input:focus,
.field-item.money input:hover,
.field-item.string input:focus,
.field-item.string input:hover,
.field-item.double input:focus,
.field-item.double input:hover,
.field-item.money select:focus,
.field-item.money select:hover,
.fields.crm_status select:focus,
.fields.crm_status select:hover,
.field-item.datetime input:hover,
.field-item.datetime input:focus,
.field-item.enumeration select:hover,
.field-item.enumeration select:focus,
.fields.money .money-editor-currency-selector-wrap:hover .main-ui-square-search-item,
.crm-entity-widget-content-block-multiselect select:focus,
.crm-entity-widget-content-block-multiselect select:hover,
.crm-entity-widget-content-input:focus,
.crm-entity-widget-content-input:hover,
.crm-entity-widget-content-select:focus,
.crm-entity-widget-content-select:hover,
.crm-entity-widget-content-textarea:focus,
.crm-entity-widget-content-textarea:hover,
.crm-entity-widget-content-block-clients:hover,
.crm-entity-widget-resourcebook-container:hover,
.crm-entity-widget-content-block-requisites:hover,
.crm-entity-card-widget-edit .crm-entity-widget-client-requisites-inner-container:hover,
.crm-entity-widget-content-block-recurring:hover,
.crm-entity-widget-content-date-input:focus,
.crm-entity-widget-content-date-input:hover { border-color: #64a6f3; }

.crm-entity-widget-content-error .bx-html-editor,
.crm-entity-widget-content-error .crm-entity-widget-content-input,
.crm-entity-widget-content-error .crm-entity-widget-content-select,
.crm-entity-widget-content-error input[type=checkbox],
.crm-entity-widget-content-error input[type=radio],
.crm-entity-widget-content-error select,
.crm-entity-widget-content-error .field-item textarea,
.crm-entity-widget-content-error .custom-field-item,
.crm-entity-widget-content-error .fields input[type=text],
.crm-entity-widget-content-error .crm-entity-widget-content-textarea { border-color: #ff5752 !important; }

.crm-entity-widget-content-error-text {
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 10px 11px;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-field-date .crm-entity-widget-content-input {
	position: relative;
	padding-right: 30px;
}

.crm-entity-widget-content-block-field-date .crm-entity-widget-content-input,
.field-item.date input,
.field-item.datetime input { background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%20%20%3Cpath%20fill%3D%22%23A1A1A1%22%20d%3D%22M19.2203068%2C227.579302%20C19.4159762%2C227.579302%2019.6036161%2C227.503694%2019.7418756%2C227.369138%20C19.8801351%2C227.234582%2019.9576669%2C227.052123%2019.957385%2C226.861969%20L19.957385%2C225.786486%20C19.957385%2C225.390884%2019.6273838%2C225.070185%2019.2203068%2C225.070185%20C18.8132298%2C225.070185%2018.4832287%2C225.390884%2018.4832287%2C225.786486%20L18.4832287%2C226.861969%20C18.4829467%2C227.052123%2018.5604785%2C227.234582%2018.698738%2C227.369138%20C18.8369975%2C227.503694%2019.0246374%2C227.579302%2019.2203068%2C227.579302%20L19.2203068%2C227.579302%20Z%20M11.7858009%2C227.652584%20C12.2169272%2C227.652584%2012.566424%2C227.312939%2012.566424%2C226.893965%20L12.566424%2C225.758618%20C12.566424%2C225.339645%2012.2169272%2C225%2011.7858009%2C225%20C11.3546747%2C225%2011.0051778%2C225.339645%2011.0051778%2C225.758618%20L11.0051778%2C226.893965%20C11.0051778%2C227.095164%2011.0874218%2C227.288121%2011.233817%2C227.43039%20C11.3802123%2C227.572658%2011.5787668%2C227.652584%2011.7858009%2C227.652584%20L11.7858009%2C227.652584%20Z%20M22.0369225%2C226.582261%20L20.8134152%2C226.582261%20L20.8134152%2C227.098328%20C20.8134152%2C227.953376%2020.1001563%2C228.646529%2019.2203068%2C228.646529%20C18.3404574%2C228.646529%2017.6271984%2C227.953376%2017.6271984%2C227.098328%20L17.6271984%2C226.582261%20L13.3789093%2C226.582261%20L13.3789093%2C227.098328%20C13.3789093%2C227.953376%2012.6656504%2C228.646529%2011.7858009%2C228.646529%20C10.9059515%2C228.646529%2010.1926925%2C227.953376%2010.1926925%2C227.098328%20L10.1926925%2C226.582261%20L8.96918531%2C226.582261%20C8.41963391%2C226.58108%207.89468921%2C226.803615%207.52173741%2C227.195865%20C7.14878561%2C227.588115%206.96191611%2C228.114226%207.00647571%2C228.646529%20L7.00647571%2C238.967866%20C7.00647571%2C239.537898%207.48198171%2C240%208.06854801%2C240%20L22.9375597%2C240%20C23.524126%2C240%2023.999632%2C239.537898%2023.999632%2C238.967866%20L23.999632%2C228.646529%20C24.020459%2C227.558434%2023.1547325%2C226.647912%2022.0369225%2C226.582261%20Z%20M22%2C238%20L9.00000001%2C238%20L9.00000001%2C231%20L22%2C231%20L22%2C238%20Z%20M12.6705071%2C234.641161%20C12.2449609%2C234.998271%2011.8674281%2C235.406081%2011.5468347%2C235.854951%20C11.3616803%2C236.149457%2011.2456369%2C236.48002%2011.2069715%2C236.823092%20L14.7064997%2C236.823092%20L14.7064997%2C235.922039%20L12.7236107%2C235.922039%20C12.7820647%2C235.825793%2012.850385%2C235.735538%2012.9275286%2C235.652653%20C13.0110783%2C235.560449%2013.2107479%2C235.373976%2013.5265374%2C235.093236%20C13.7608069%2C234.894272%2013.9791618%2C234.678277%2014.1797118%2C234.44712%20C14.344479%2C234.251596%2014.479337%2C234.03398%2014.5801131%2C233.801005%20C14.6639123%2C233.59354%2014.7067873%2C233.372603%2014.7064997%2C233.149728%20C14.7148934%2C232.768765%2014.5538791%2C232.402777%2014.2646776%2C232.145462%20C13.9312208%2C231.861749%2013.4963595%2C231.716804%2013.0539152%2C231.741898%20C12.6354439%2C231.727784%2012.2241582%2C231.850236%2011.8856357%2C232.089727%20C11.5433086%2C232.380948%2011.3412673%2C232.797575%2011.3280478%2C233.239524%20L12.3168371%2C233.336544%20C12.3118734%2C233.115932%2012.3870846%2C232.900679%2012.5292515%2C232.728618%20C12.8124615%2C232.488233%2013.2338215%2C232.484726%2013.521227%2C232.720361%20C13.6488467%2C232.855654%2013.7140671%2C233.035733%2013.7017793%2C233.218881%20C13.6937327%2C233.432916%2013.6197322%2C233.63967%2013.4893648%2C233.812358%20C13.2408452%2C234.112072%2012.9669355%2C234.391035%2012.6705071%2C234.646322%20L12.6705071%2C234.641161%20Z%20M17.6696813%2C236.823092%20L18.635105%2C236.823092%20L18.635105%2C235.804376%20L19.2829691%2C235.804376%20L19.2829691%2C234.955962%20L18.635105%2C234.955962%20L18.635105%2C231.746026%20L17.79713%2C231.746026%20L15.5381023%2C234.960091%20L15.5381023%2C235.808505%20L17.6696813%2C235.808505%20L17.6696813%2C236.827221%20L17.6696813%2C236.823092%20Z%20M16.4727258%2C234.951834%20L17.6696813%2C233.221978%20L17.6696813%2C234.955962%20L16.4727258%2C234.955962%20L16.4727258%2C234.951834%20Z%22%20transform%3D%22translate%28-7%20-225%29%22/%3E%3C/svg%3E) no-repeat 95% center; }

.field-item.date i.fields.date.icon,
.field-item.datetime i.fields.datetime.icon {
	position: absolute;
	top: 50%;
	right: 5px;
	display: block;
	opacity: 0;
	cursor: text;
	transition: 220ms all ease;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.crm-entity-widget-content-block-edit-action-btn {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 2px;
	border-bottom: 1px dashed;
	color: #80868e;
	text-decoration: none;
	white-space: nowrap;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-widget-content-block-edit-action-btn:hover { color: #333; }

.crm-entity-widget-content-block-edit-remove-btn-disabled,
.crm-entity-widget-content-block-edit-remove-btn {
	display: inline-block;
	float: right;
	margin-bottom: 2px;
	border-bottom: 1px dashed;
	color: #d01515;
	text-decoration: none;
	white-space: nowrap;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-card-widget .crm-entity-widget-content-block-edit-remove-btn { color: #80868e; }

.crm-entity-widget-content-block-edit-remove-btn:hover { color: #9d3b2a; }

.crm-entity-widget-content-block-edit-remove-btn-disabled { color: #c0c0c0; }

.crm-entity-widget-content-block-edit-remove-btn-disabled:hover { color: #333; }

.crm-entity-widget-content-block-add-field { }

.fields input[type=button],
.crm-entity-widget-content-block-inner input[type=button],
.crm-entity-widget-content-add-field {
	display: inline;
	padding: 0;
	width: auto;
	border: none;
	border-bottom: 1px dotted #cbced2;
	background: none;
	color: #80868e;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: all 220ms ease;
}

.crm-entity-widget-content-block-new-fields .crm-entity-widget-content-add-field {
	border-bottom: 1px dotted;
	color: #468ee5;
}

.crm-entity-widget-content-block-inner input[type=button]:hover,
.crm-entity-widget-content-add-field:hover {
	border-bottom-color: #80868e;
	color: #3e3e3e;
}

.crm-entity-widget-content-block-inner-text-image {
	margin-left: 5px;
	width: auto;
	height: 27px;
	vertical-align: middle;
}

.crm-entity-card-widget-add-btn-container {
	position: relative;
	z-index: 800;
	margin-bottom: 15px;
	padding: 0 15px;
}

.crm-entity-add-widget-btn {
	margin-right: 15px;
	border-bottom: 1px dashed #cbced2;
	color: #80868e !important;
	text-decoration: none;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.crm-entity-add-widget-btn:hover {
	border-color: #333;
	color: #333 !important;
}

.bitrix24-light-theme .crm-entity-add-widget-btn {
	border-bottom: 1px dashed #fff;
	color: #fff !important;
	opacity: .8;
}

.bitrix24-light-theme .crm-entity-add-widget-btn:hover {
	border-color: #fff;
	color: #fff !important;
	opacity: 1;
}

.money-editor-currency-selector-wrap {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 39px;
	vertical-align: bottom;
}

.fields.money .main-ui-control.main-ui-select { width: 150px; }

/*.field-item .main-ui-control.main-ui-select,*/
.money-editor { display: flex; }

.field-item .main-ui-square-search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 19;
}

.field-item .main-ui-control:after,
.field-item .main-ui-control:before { z-index: 15; }

.field-item .main-ui-multi-select { padding: 3px 32px 1px 3px !important; }

.field-item .main-ui-multi-select .main-ui-select-name {
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	left: 10px;
	z-index: 15;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 36px;
}

.field-item .main-ui-multi-select .main-ui-square { float: none; }

.field-item .main-ui-multi-select .main-ui-square-search-item {
	position: relative;
	display: inline-block !important;
	margin-top: -10px;
	padding: 0 !important;
	min-height: 20px !important;
	width: 1px !important;
	border: none !important;
	background-color: transparent !important;
	opacity: 0 !important;
}

.field-item .main-ui-control.main-ui-select { padding: 2px 9px !important; }

/*endregion*/

/*region Editor - File*/
.field-item.file .webform-small-button.webform-button-upload,
.field-item.file .webform-field-upload,
.field-item.file .webform-field-upload input[type=file],
.field-item.file .webform-small-button.webform-button-replace,
.field-item.file .webform-small-button.webform-button-replace input[type=file] {
	width: auto;
	height: auto;
	border: none;
	background: none;
	box-shadow: none;
	text-transform: lowercase;
	line-height: initial;
	cursor: pointer;
}

.field-item.file .webform-field-upload {
	display: inline-block;
	max-height: 20px;
}

.field-item.file .webform-small-button.webform-button-upload {
	position: relative;
	border-bottom: 1px dashed;
	color: #80868e;
	font: 400 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.field-item.file .webform-field-upload:hover .webform-small-button.webform-button-upload { color: #333; }

.field-item.file .webform-field-upload-list.webform-field-upload-list-multiple { margin: 0 0 10px 16px; }

.field-item.file .webform-field-upload-list.webform-field-upload-list-single { margin: 0; }

.field-item.file .bx-bxu-thumb-thumb { margin: 0; }

.field-item.file .webform-field-upload-list li { margin-bottom: 5px; }

.field-wrap.file .webform-field-upload-list a.upload-file-name {
	display: inline-block;
	overflow: hidden;
	margin: -1px 0;
	max-width: calc(100% - 61px);
	color: #0069c4;
	vertical-align: middle;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

.field-item.file .webform-field-upload-list li div.webform-field-item-wrap {
	white-space: normal;
	font: 400 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block .fields.file img {
	max-width: 100%;
	height: auto;
}

/*endregion*/

/*region Editor - Multifield*/
.crm-entity-widget-content-block-mutlifield {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	justify-content: space-between;
}

.crm-entity-widget-content-block-mutlifield-type {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #e1e3e4;
	color: #989ca5;
	font: 400 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	order: 2;
}

.crm-entity-widget-content-block-mutlifield-value { order: 1; }

/*endregion*/

/*region Editor - Photo*/
.crm-entity-widget-content-block-photo {
	max-width: 200px;
	height: auto;
}

/*endregion*/

/* region Editor - Control  */
.crm-entity-editor-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1500;
	box-sizing: border-box;
	padding: 10px;
	height: 65px;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.crm-entity-editor-control.crm-entity-editor-control-active {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.crm-entity-editor-control .webform-button-link {
	position: relative;
	margin: 0;
	height: 39px;
	border: none;
	color: #535b69;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font: 12px/39px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	transition: color .25s ease;
}

.crm-entity-editor-control .webform-button-link:hover {
	border: none;
	color: #80868e;
}

.crm-entity-widget-content-wrapper {
	display: inline-block;
	width: 50%;
}

/*endregion*/

/*region Editor - Address*/
.crm-entity-widget-content-block-inner-address {
	padding: 10px 12px 15px;
	width: 100%;
	border: 1px solid #c4c7cc;
}

.crm-entity-widget-content-block-inner-address:hover { border-color: #64a6f3; }

.crm-entity-widget-content-block-inner-address .crm-entity-widget-content-input {
	margin: 0 0 11px;
}

.crm-entity-widget-client-requisites-add-btn {
	border-bottom: 1px dashed;
	color: #0063c6;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Editor - Order */

.crm-entity-widget-content-block-inner-order-logo-container {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.crm-entity-widget-content-block-inner-order-logo {
	margin-bottom: 5px;
	max-width: 65px;
	max-height: 65px;
	width: auto;
	height: auto;
}

.crm-entity-widget-content-block-inner-order-logo-text {
	color: #797e87;
	font: 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-block-inner-order-controls {
	color: #a7acb3;
	font-size: 13px;
}

.crm-entity-widget-content-block-inner-order-controls-row {
	display: flex;
	margin-bottom: 3px;
	align-items: center;
}

.crm-entity-widget-content-block-inner-order-controls-text {
	padding-left: 15px;
	color: #b8bcc1;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Editor - Progress Bar */
.crm-entity-widget-content-block-inner-progress {
	position: relative;
	display: flex;
	margin-bottom: 5px;
	width: 160px;
	height: 8px;
	border-radius: 4px;
	background-color: #e7e9ea;
}

.crm-entity-widget-content-block-inner-progress-step {
	border-right: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	flex: 1;
}

.crm-entity-widget-content-block-inner-progress-step-complete { background-color: #9dcf00; }

.crm-entity-widget-content-block-inner-progress .crm-entity-widget-content-block-inner-progress-step:first-child { border-radius: 4px 0 0 4px; }

.crm-entity-widget-content-block-inner-progress .crm-entity-widget-content-block-inner-progress-step:last-child {
	border-right: none;
	border-radius: 0 4px 4px 0;
}

.crm-entity-widget-content-block-inner-progress-status {
	color: #c0c4c8;
	font: 10px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*endregion*/

/*region Popup*/
.crm-entity-card-widget-create-field-popup {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.crm-entity-card-widget-popup-scroll-control-top,
.crm-entity-card-widget-popup-scroll-control-bottom {
	position: absolute;
	right: 0;
	left: 0;
	height: 34px;
	background-color: #f8f9f9;
	cursor: pointer;
	transition: 250ms linear all;
}

.crm-entity-card-widget-popup-scroll-control-top.control-hide {
	-webkit-transform: translatey(-100%);
	transform: translatey(-100%)
}

.crm-entity-card-widget-popup-scroll-control-bottom.control-hide {
	-webkit-transform: translatey(100%);
	transform: translatey(100%)
}

.crm-entity-card-widget-popup-scroll-control-top:hover,
.crm-entity-card-widget-popup-scroll-control-bottom:hover { background-color: #f1f2f3; }

.crm-entity-card-widget-popup-scroll-control-top { top: 0; }

.crm-entity-card-widget-popup-scroll-control-bottom { bottom: 0; }

.crm-entity-card-widget-popup-scroll-control-top svg,
.crm-entity-card-widget-popup-scroll-control-bottom svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 250ms linear all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.crm-entity-card-widget-popup-scroll-control-top svg {
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
}

.crm-entity-card-widget-create-field-list {
	overflow: auto;
	padding: 10px;
	max-width: 500px;
	max-height: 500px;
}

.crm-entity-card-widget-popup-scroll-control-top svg polyline,
.crm-entity-card-widget-popup-scroll-control-bottom svg polyline { transition: 250ms linear all; }

.crm-entity-card-widget-popup-scroll-control-top:hover svg polyline,
.crm-entity-card-widget-popup-scroll-control-bottom:hover svg polyline { stroke: #a0a5ad; }

.crm-entity-card-widget-create-field-item {
	display: block;
	padding: 11px 5px;
	border-bottom: 1px solid #f6f7f8;
	background-color: transparent;
	cursor: pointer;
	transition: all 220ms linear;
}

.crm-entity-card-widget-create-field-item:hover { background-color: #f6f7f8; }

.crm-entity-card-widget-create-field-list .crm-entity-card-widget-create-field-item:last-child { border-bottom: none; }

.crm-entity-card-widget-create-field-item-title {
	display: block;
	margin-bottom: 2px;
	color: #000;
	font: 600 14px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-card-widget-create-field-item-desc {
	display: block;
	color: #828b95;
	font: 400 13px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-widget-content-hide {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	max-height: 0;
	opacity: 0;
	transition: all 310ms ease-in-out;
}

.crm-entity-widget-content-show {
	overflow: hidden;
	max-height: 400px;
	transition: all 310ms ease-in-out;
}

/*endregion*/

/*region assigned_by*/

.crm-widget-employee-container {
	position: relative;
	display: block;
	margin-bottom: 5px;
	padding: 13px 10px;
	border: 1px solid #edeef0;
	border-radius: 1px;
	background-color: #fdfdfd;
	transition: 160ms all ease;
}

.crm-widget-employee-container.draggable {
	box-shadow: 0 0 14px 3px rgba(0, 0, 0, .05);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.crm-widget-employee-avatar-container {
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #535c6a url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2247.188%22%20height%3D%2254.063%22%20viewBox%3D%220%200%2047.188%2054.063%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23fff%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20id%3D%22Shape_2_copy_4%22%20data-name%3D%22Shape%202%20copy%204%22%20class%3D%22cls-1%22%20d%3D%22M47.18%2054.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.394%2017.394%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.05%2027.05%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.1%207.1%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16S-.012%2054.06-.012%2054.06h47.19z%22/%3E%3C/svg%3E) no-repeat center;
	background-size: 15px;
}

.crm-widget-employee-info {
	position: absolute;
	top: 50%;
	right: 10px;
	left: 50px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.crm-widget-employee-name,
.crm-widget-employee-position {
	display: block;
	overflow: hidden;
	width: 100%;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crm-widget-employee-position {
	color: #80868e;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-widget-employee-change {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11;
	padding: 5px 7px;
	color: #333;
	font: 11px/13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	opacity: 0;
	cursor: pointer;
	transition: opacity 220ms ease;
}

.crm-entity-card-widget-edit .crm-widget-employee-change,
.crm-widget-employee-container:hover .crm-widget-employee-change { opacity: .5; }

.crm-widget-employee-container .crm-widget-employee-change:hover { opacity: 1; }

/*endregion*/

/*region field selector*/

.crm-entity-field-selector-window {
	position: relative;
	overflow: auto;
	padding-right: 10px;
	padding-left: 10px;
	height: auto;
	background: #fff;
	font-family: 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: 1;
}

.crm-entity-field-selector-window-list {
	padding-top: 8px;
	padding-bottom: 16px;
	border-bottom: 1px rgba(0, 0, 0, .05) solid;
	-webkit-column-count: 3;
	column-count: 3;
}

.crm-entity-field-selector-window-list-label { padding-bottom: 5px; }

.crm-entity-field-selector-window-list-item {
	position: relative;
	display: block;
	border-radius: 2px;
	color: #80868e;
	font: 14px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-column-break-inside: avoid;
}

.crm-entity-field-selector-window-list-item .crm-entity-field-selector-window-list-label:not([contenteditable="true"]) { transition: background 200ms; }

.crm-entity-field-selector-window-list-checkbox {
	position: absolute;
	top: 10px;
	margin: 0 7px;
	vertical-align: middle;
}

.crm-entity-field-selector-window-list-label {
	display: block;
	box-sizing: border-box;
	margin-right: 1px;
	padding: 6px 20px 6px 28px;
	min-height: 33px;
	width: auto;
	height: auto;
	outline: none;
	border: 1px transparent solid;
	vertical-align: middle;
	line-height: 19px;
	cursor: pointer;
	transition: border 200ms;
}

.crm-entity-field-selector-window-list-label[contenteditable="true"] { border: 1px rgba(59, 153, 252, .6) solid; }

.crm-entity-field-selector-window-list-checkbox:checked + .crm-entity-field-selector-window-list-label,
.crm-entity-field-selector-window-list-item:hover .crm-entity-field-selector-window-list-label:not([contenteditable="true"]) { background: #f3f6f8; }

.crm-entity-field-selector-window-list-item .crm-entity-field-selector-window-list-edit-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 20px;
	height: 31px;
	opacity: 0;
}

.crm-entity-field-selector-window-list-item .crm-entity-field-selector-window-list-edit-button::before {
	position: relative;
	top: 2px;
	left: -7px;
	z-index: 1;
	display: inline-block;
	width: 20px;
	height: 31px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23525C68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M.667%207.415L0%2010l2.444-.765c-.152-.417-.376-.797-.66-1.12-.318-.325-.7-.563-1.117-.7zm5.407-5.963l-4.78%205.213c.397.208.765.474%201.094.792.27.343.496.725.67%201.135l4.777-5.21c-.185-.447-.437-.857-.746-1.213-.296-.306-.64-.548-1.018-.715l.002-.003zM8.807.395c-.242-.26-.57-.403-.91-.395-.338.008-.66.165-.892.435l-.287.313c.382.177.732.428%201.033.74.304.348.55.75.732%201.187l.288-.314c.248-.252.39-.604.398-.974.006-.37-.125-.728-.364-.99h.003z%22/%3E%3C/svg%3E);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
}

.crm-entity-field-selector-window-list-item .crm-entity-field-selector-window-list-edit-button::after {
	position: absolute;
	top: 5px;
	left: -10px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: transparent;
	content: '';
	transition: background 200ms;
}

.crm-entity-field-selector-window-list-item:hover .crm-entity-field-selector-window-list-edit-button { opacity: .8; }

.crm-entity-field-selector-window-list-item .crm-entity-field-selector-window-list-edit-button:hover,
.crm-entity-field-selector-window-list-label[contenteditable="true"] + .crm-entity-field-selector-window-list-edit-button { opacity: 1; }

.crm-entity-field-selector-window-list-label[contenteditable="true"] + .crm-entity-field-selector-window-list-edit-button::after { background: #bbed21; }

.crm-entity-field-selector-window-list-label[contenteditable="true"] + .crm-entity-field-selector-window-list-edit-button:hover::after { background: #d2f95f; }

.crm-entity-field-selector-window-list-edit-input {
	position: absolute;
	top: 5px;
	left: 28px;
	display: none;
	margin-left: 0;
	padding-left: 0;
	width: calc(100% - 50px);
	height: 19px;
	border: none;
	background: none;
	color: #80868e;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 19px;
}

.crm-entity-field-selector-window-list-item-edit .crm-entity-field-selector-window-list-edit-input {
	z-index: 1;
	display: block;
}

.crm-entity-field-selector-window-list-edit .crm-entity-field-selector-window-list-edit-button { opacity: .8; }

.crm-entity-field-selector-window-list-edit .crm-entity-field-selector-window-list-label { color: rgba(0, 0, 0, 0); }

.crm-entity-field-selector-window-list-caption {
	display: block;
	margin: 10px 0 12px 8px;
	padding: 6px 20px 18px 0;
	border-bottom: 1px solid #e2e2e3;
	color: #63676c;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-column-break-inside: avoid;
}

/*endregion*/

/*region Editor - UF customization*/
.crm-entity-widget-resourcebook-container { min-width: 295px; }

/*endregion*/