@font-face {
	font-family: 'Circe';
	src: url('font/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/Circe-Regular.woff') format('woff'),
		url('font/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
    font-size: 11px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Circe';
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
}
body {
    background-color: #F5F5F7;
    max-width: 100vw;
    overflow-y: visible;
    position: relative;
    min-height: 90vh;
	margin: 0;
}
.boundless {
    width: 100%;
    margin: auto;
}
.onboarding {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
}
.onboarding__background {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.onboarding__background img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.onboarding__background:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.74;
    background-image: linear-gradient(-135deg, #4985c5 0%, #828181 0, #0009 100%);
}
.onboarding__modal {
    background-color: #fff;
    width: 90%;
    margin: 5em auto;
    position: relative;
    z-index: 3;
    /* text-align: center; */
    /* padding: 3em 3em 6em 3em; */
    max-width: 450px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
}
.onboarding__modal__header {
    margin-bottom: 2em;
}
@media only screen and (min-width: 767px){
	.onboarding__background {
		/* width: 60%; */
	}
	.onboarding__modal {
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1023px){
	.onboarding__background {
		margin-left: 35%;
	}
	.onboarding__background {
		/* width: 62%; */
	}
	.onboarding__modal {
		font-size: 1.3rem;
		left: 0;
		/* margin-left: 15%; */
	}
}
@media only screen and (min-width: 1260px) {
	.onboarding__background {
		margin-left: 35%;
	}
	.onboarding__modal {
		/* padding: 5em 5em 6em 5em; */
		/* margin-left: 25%; */
	}
}



/*form*/
.errortext {
    font-size: 14px;
    color: red;
}
.logo-w {
	text-align: center;
    padding: 12% 27% 10% 27%;
}
.auth-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    padding-left: 60px;
    margin-top: 0;
    font-size: 22px;
    text-align: left;
    font-family: 'Circe';
	color: #15578a;
}
.auth-header:after {
    content: "";
    background-color: #15578a;
    width: 50px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 60px;
}
.onboarding__modal form {
    padding: 20px 60px;
    padding-bottom: 20px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-check-inline{
	text-align: left;
    font-size: 14px;
}
label {
    margin-bottom: 4px;
}
.form-control {
    font-weight: 300;
}
.form-control {
	height: 50px;
    border-radius: 4px;
    line-height: 40px;
    padding: 5px 10px;
    font-size: 19px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    /* padding: 10px 6px; */
    padding: 5px 6px;
    outline: none;
    border: 2px solid #d5dde0;
    border-radius: 5px;
    background-color: #fff;
    background-image: none;
    color: #555;
    vertical-align: middle;
    line-height: 1.428571429;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    width: 100%;
}
.buttons-w {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.login-btn {
    background: #15578a;
    color: #fff;
    display: inline-block;
    outline: none !important;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
	font-family:'Circe', sans-serif;
    border-radius: 20px;
    padding: 0 30px;
    height: 42px;
    line-height: 42px;
    font-size: 18px !important;
    -webkit-appearance: none;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.login-btn:hover{
	background: #4985c5;
}
.log-popup a {
    color: #003C7A;
    border-bottom-color: #003C7A;
    border-width: 1px;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.login-link-forgot-pass {
    display: inline-block;
    border-bottom: 2px solid #15578a;
    color: #15578a;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    line-height: 20px;
    position: relative;
    -webkit-transition: border-color ease-in-out .1s;
    transition: border-color ease-in-out .1s;
    margin-left: 15px;
    text-transform: uppercase;
	font-size: 15px;
}
.login-link-forgot-pass:hover{
	border-bottom-color: #4985c5;
}
.login-links{
	text-align: center;
    margin-top: 15px;
}
.login-links a{
    font-size: 18px;
    color: #022d72;
}
.copy{
	max-width: 450px;
    margin: 0px auto 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}