.pagetitle-inner-container .pagetitle{
	text-align:center;
}

.container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-bar {
    width: 396px;
    text-align: right;
    margin-top: 5px;
}

#applyButton {
    margin-right: 10px;
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    position: absolute;
    top: 29px;
    bottom: 3px;
    left: 420px;
    width: 180px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.option-editor {
    margin-top: 5px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td{
	text-align: center !important;
}
.dx-datagrid-rowsview tbody tr:first-child{
    background: #cecece;
}